ScadaScheme/ScadaScheme/Service References/ScadaSchemeSvc/ScadaSchemeSvc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ScadaSchemeSvc" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59434/scheme/ScadaSchemeSvc.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59434/scheme/ScadaSchemeSvc.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59434/scheme/ScadaSchemeSvc.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Scada.Scheme" />
      <xsd:import schemaLocation="http://localhost:59434/scheme/ScadaSchemeSvc.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:59434/scheme/ScadaSchemeSvc.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IScadaSchemeSvc_GetSettings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSettings" />
  </wsdl:message>
  <wsdl:message name="IScadaSchemeSvc_GetSettings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="IScadaSchemeSvc_LoadScheme_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadScheme" />
  </wsdl:message>
  <wsdl:message name="IScadaSchemeSvc_LoadScheme_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadSchemeResponse" />
  </wsdl:message>
  <wsdl:message name="IScadaSchemeSvc_LoadCnlData_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadCnlData" />
  </wsdl:message>
  <wsdl:message name="IScadaSchemeSvc_LoadCnlData_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadCnlDataResponse" />
  </wsdl:message>
  <wsdl:message name="IScadaSchemeSvc_GetChange_InputMessage">
    <wsdl:part name="parameters" element="tns:GetChange" />
  </wsdl:message>
  <wsdl:message name="IScadaSchemeSvc_GetChange_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChangeResponse" />
  </wsdl:message>
  <wsdl:message name="IScadaSchemeSvc_ClearChange_InputMessage">
    <wsdl:part name="parameters" element="tns:ClearChange" />
  </wsdl:message>
  <wsdl:message name="IScadaSchemeSvc_ClearChange_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClearChangeResponse" />
  </wsdl:message>
  <wsdl:message name="IScadaSchemeSvc_SelectElement_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectElement" />
  </wsdl:message>
  <wsdl:message name="IScadaSchemeSvc_SelectElement_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectElementResponse" />
  </wsdl:message>
  <wsdl:message name="IScadaSchemeSvc_WriteException_InputMessage">
    <wsdl:part name="parameters" element="tns:WriteException" />
  </wsdl:message>
  <wsdl:message name="IScadaSchemeSvc_WriteException_OutputMessage">
    <wsdl:part name="parameters" element="tns:WriteExceptionResponse" />
  </wsdl:message>
  <wsdl:portType name="IScadaSchemeSvc">
    <wsdl:operation name="GetSettings">
      <wsdl:input wsaw:Action="http://tempuri.org/IScadaSchemeSvc/GetSettings" message="tns:IScadaSchemeSvc_GetSettings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScadaSchemeSvc/GetSettingsResponse" message="tns:IScadaSchemeSvc_GetSettings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadScheme">
      <wsdl:input wsaw:Action="http://tempuri.org/IScadaSchemeSvc/LoadScheme" message="tns:IScadaSchemeSvc_LoadScheme_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScadaSchemeSvc/LoadSchemeResponse" message="tns:IScadaSchemeSvc_LoadScheme_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadCnlData">
      <wsdl:input wsaw:Action="http://tempuri.org/IScadaSchemeSvc/LoadCnlData" message="tns:IScadaSchemeSvc_LoadCnlData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScadaSchemeSvc/LoadCnlDataResponse" message="tns:IScadaSchemeSvc_LoadCnlData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetChange">
      <wsdl:input wsaw:Action="http://tempuri.org/IScadaSchemeSvc/GetChange" message="tns:IScadaSchemeSvc_GetChange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScadaSchemeSvc/GetChangeResponse" message="tns:IScadaSchemeSvc_GetChange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClearChange">
      <wsdl:input wsaw:Action="http://tempuri.org/IScadaSchemeSvc/ClearChange" message="tns:IScadaSchemeSvc_ClearChange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScadaSchemeSvc/ClearChangeResponse" message="tns:IScadaSchemeSvc_ClearChange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectElement">
      <wsdl:input wsaw:Action="http://tempuri.org/IScadaSchemeSvc/SelectElement" message="tns:IScadaSchemeSvc_SelectElement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScadaSchemeSvc/SelectElementResponse" message="tns:IScadaSchemeSvc_SelectElement_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WriteException">
      <wsdl:input wsaw:Action="http://tempuri.org/IScadaSchemeSvc/WriteException" message="tns:IScadaSchemeSvc_WriteException_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IScadaSchemeSvc/WriteExceptionResponse" message="tns:IScadaSchemeSvc_WriteException_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IScadaSchemeSvc" type="tns:IScadaSchemeSvc">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSettings">
      <soap:operation soapAction="http://tempuri.org/IScadaSchemeSvc/GetSettings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadScheme">
      <soap:operation soapAction="http://tempuri.org/IScadaSchemeSvc/LoadScheme" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadCnlData">
      <soap:operation soapAction="http://tempuri.org/IScadaSchemeSvc/LoadCnlData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChange">
      <soap:operation soapAction="http://tempuri.org/IScadaSchemeSvc/GetChange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearChange">
      <soap:operation soapAction="http://tempuri.org/IScadaSchemeSvc/ClearChange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectElement">
      <soap:operation soapAction="http://tempuri.org/IScadaSchemeSvc/SelectElement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteException">
      <soap:operation soapAction="http://tempuri.org/IScadaSchemeSvc/WriteException" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ScadaSchemeSvc">
    <wsdl:port name="BasicHttpBinding_IScadaSchemeSvc" binding="tns:BasicHttpBinding_IScadaSchemeSvc">
      <soap:address location="http://localhost:59434/scheme/ScadaSchemeSvc.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>