ScadaScheme/ScadaScheme/Service References/ScadaSchemeSvc/ScadaSchemeSvc.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Scada.Scheme" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Scada.Scheme" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59434/scheme/ScadaSchemeSvc.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:59434/scheme/ScadaSchemeSvc.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="SchemeSettings">
    <xs:sequence>
      <xs:element minOccurs="0" name="CmdEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="RefrFreq" type="xs:int" />
      <xs:element minOccurs="0" name="SchemePhrases" nillable="true" type="tns:SchemePhrases" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SchemeSettings" nillable="true" type="tns:SchemeSettings" />
  <xs:complexType name="SchemePhrases">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorDrawingScheme" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorExecutingAction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Loading" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SchemeNotLoaded" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnableGetSettings" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnableLoadCnlData" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnableLoadScheme" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WcfAddrUndefined" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WcfError" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SchemePhrases" nillable="true" type="tns:SchemePhrases" />
  <xs:complexType name="SchemeView.SchemeData">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CnlList" nillable="true" type="q1:ArrayOfint" />
      <xs:element minOccurs="0" name="CtrlRight" type="xs:boolean" />
      <xs:element minOccurs="0" name="ElementDataList" nillable="true" type="tns:ArrayOfSchemeView.ElementData" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ImageDict" nillable="true" type="q2:ArrayOfKeyValueOfstringSchemeView.ImagehXl2QIEg" />
      <xs:element minOccurs="0" name="SchemeParams" nillable="true" type="tns:SchemeView.Scheme" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SchemeView.SchemeData" nillable="true" type="tns:SchemeView.SchemeData" />
  <xs:complexType name="ArrayOfSchemeView.ElementData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SchemeView.ElementData" nillable="true" type="tns:SchemeView.ElementData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSchemeView.ElementData" nillable="true" type="tns:ArrayOfSchemeView.ElementData" />
  <xs:complexType name="SchemeView.ElementData">
    <xs:sequence>
      <xs:element minOccurs="0" name="DynamicPicture" nillable="true" type="tns:SchemeView.DynamicPicture" />
      <xs:element minOccurs="0" name="DynamicText" nillable="true" type="tns:SchemeView.DynamicText" />
      <xs:element minOccurs="0" name="ElementType" type="tns:SchemeView.ElementTypes" />
      <xs:element minOccurs="0" name="StaticPicture" nillable="true" type="tns:SchemeView.StaticPicture" />
      <xs:element minOccurs="0" name="StaticText" nillable="true" type="tns:SchemeView.StaticText" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SchemeView.ElementData" nillable="true" type="tns:SchemeView.ElementData" />
  <xs:complexType name="SchemeView.DynamicPicture">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SchemeView.StaticPicture">
        <xs:sequence>
          <xs:element minOccurs="0" name="Action" type="tns:SchemeView.Action" />
          <xs:element minOccurs="0" name="BorderColorOnHover" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Conditions" nillable="true" type="tns:ArrayOfSchemeView.Condition" />
          <xs:element minOccurs="0" name="CtrlCnlNum" type="xs:int" />
          <xs:element minOccurs="0" name="ImageOnHover" nillable="true" type="tns:SchemeView.Image" />
          <xs:element minOccurs="0" name="InCnlNum" type="xs:int" />
          <xs:element minOccurs="0" name="ToolTip" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SchemeView.DynamicPicture" nillable="true" type="tns:SchemeView.DynamicPicture" />
  <xs:complexType name="SchemeView.StaticPicture">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SchemeView.Element">
        <xs:sequence>
          <xs:element minOccurs="0" name="BorderColor" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Image" nillable="true" type="tns:SchemeView.Image" />
          <xs:element minOccurs="0" name="ImageStretch" type="tns:SchemeView.ImageStretch" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SchemeView.StaticPicture" nillable="true" type="tns:SchemeView.StaticPicture" />
  <xs:complexType name="SchemeView.Element">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Location" type="tns:SchemeView.Point" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Size" type="tns:SchemeView.Size" />
      <xs:element minOccurs="0" name="ZIndex" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SchemeView.Element" nillable="true" type="tns:SchemeView.Element" />
  <xs:complexType name="SchemeView.Point">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="X" type="xs:int" />
      <xs:element minOccurs="0" name="Y" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SchemeView.Point" nillable="true" type="tns:SchemeView.Point" />
  <xs:complexType name="SchemeView.Size">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Height" type="xs:int" />
      <xs:element minOccurs="0" name="Width" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SchemeView.Size" nillable="true" type="tns:SchemeView.Size" />
  <xs:complexType name="SchemeView.Image">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SchemeView.Image" nillable="true" type="tns:SchemeView.Image" />
  <xs:simpleType name="SchemeView.ImageStretch">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Fill" />
      <xs:enumeration value="Zoom" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SchemeView.ImageStretch" nillable="true" type="tns:SchemeView.ImageStretch" />
  <xs:simpleType name="SchemeView.Action">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="DrawDiagram" />
      <xs:enumeration value="SendCommand" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SchemeView.Action" nillable="true" type="tns:SchemeView.Action" />
  <xs:complexType name="ArrayOfSchemeView.Condition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SchemeView.Condition" nillable="true" type="tns:SchemeView.Condition" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSchemeView.Condition" nillable="true" type="tns:ArrayOfSchemeView.Condition" />
  <xs:complexType name="SchemeView.Condition">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompareArgument1" type="xs:double" />
      <xs:element minOccurs="0" name="CompareArgument2" type="xs:double" />
      <xs:element minOccurs="0" name="CompareOperator1" type="tns:SchemeView.CompareOperator" />
      <xs:element minOccurs="0" name="CompareOperator2" type="tns:SchemeView.CompareOperator" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="tns:SchemeView.Image" />
      <xs:element minOccurs="0" name="LogicalOperator" type="tns:SchemeView.LogicalOperator" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SchemeView.Condition" nillable="true" type="tns:SchemeView.Condition" />
  <xs:simpleType name="SchemeView.CompareOperator">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Equal" />
      <xs:enumeration value="NotEqual" />
      <xs:enumeration value="LessThan" />
      <xs:enumeration value="LessThanEqual" />
      <xs:enumeration value="GreaterThan" />
      <xs:enumeration value="GreaterThanEqual" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SchemeView.CompareOperator" nillable="true" type="tns:SchemeView.CompareOperator" />
  <xs:simpleType name="SchemeView.LogicalOperator">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="And" />
      <xs:enumeration value="Or" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SchemeView.LogicalOperator" nillable="true" type="tns:SchemeView.LogicalOperator" />
  <xs:complexType name="SchemeView.DynamicText">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SchemeView.StaticText">
        <xs:sequence>
          <xs:element minOccurs="0" name="Action" type="tns:SchemeView.Action" />
          <xs:element minOccurs="0" name="BackColorOnHover" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BorderColorOnHover" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CtrlCnlNum" type="xs:int" />
          <xs:element minOccurs="0" name="ForeColorOnHover" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InCnlNum" type="xs:int" />
          <xs:element minOccurs="0" name="ShowValue" type="tns:SchemeView.ShowValue" />
          <xs:element minOccurs="0" name="ToolTip" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UnderlineOnHover" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SchemeView.DynamicText" nillable="true" type="tns:SchemeView.DynamicText" />
  <xs:complexType name="SchemeView.StaticText">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SchemeView.Element">
        <xs:sequence>
          <xs:element minOccurs="0" name="AutoSize" type="xs:boolean" />
          <xs:element minOccurs="0" name="BackColor" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BorderColor" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Font" nillable="true" type="tns:SchemeView.Font" />
          <xs:element minOccurs="0" name="ForeColor" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HAlign" type="tns:SchemeView.HorizontalAlignment" />
          <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VAlign" type="tns:SchemeView.VerticalAlignment" />
          <xs:element minOccurs="0" name="WordWrap" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SchemeView.StaticText" nillable="true" type="tns:SchemeView.StaticText" />
  <xs:complexType name="SchemeView.Font">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bold" type="xs:boolean" />
      <xs:element minOccurs="0" name="Italic" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Size" type="xs:int" />
      <xs:element minOccurs="0" name="Underline" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SchemeView.Font" nillable="true" type="tns:SchemeView.Font" />
  <xs:simpleType name="SchemeView.HorizontalAlignment">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Left" />
      <xs:enumeration value="Center" />
      <xs:enumeration value="Right" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SchemeView.HorizontalAlignment" nillable="true" type="tns:SchemeView.HorizontalAlignment" />
  <xs:simpleType name="SchemeView.VerticalAlignment">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Top" />
      <xs:enumeration value="Center" />
      <xs:enumeration value="Bottom" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SchemeView.VerticalAlignment" nillable="true" type="tns:SchemeView.VerticalAlignment" />
  <xs:simpleType name="SchemeView.ShowValue">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NotShow" />
      <xs:enumeration value="ShowWithUnit" />
      <xs:enumeration value="ShowWithoutUnit" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SchemeView.ShowValue" nillable="true" type="tns:SchemeView.ShowValue" />
  <xs:simpleType name="SchemeView.ElementTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="StaticText" />
      <xs:enumeration value="DynamicText" />
      <xs:enumeration value="StaticPicture" />
      <xs:enumeration value="DynamicPicture" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SchemeView.ElementTypes" nillable="true" type="tns:SchemeView.ElementTypes" />
  <xs:complexType name="SchemeView.Scheme">
    <xs:sequence>
      <xs:element minOccurs="0" name="BackColor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BackImage" nillable="true" type="tns:SchemeView.Image" />
      <xs:element minOccurs="0" name="Font" nillable="true" type="tns:SchemeView.Font" />
      <xs:element minOccurs="0" name="ForeColor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Size" type="tns:SchemeView.Size" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SchemeView.Scheme" nillable="true" type="tns:SchemeView.Scheme" />
  <xs:complexType name="ArrayOfSchemeView.CnlData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SchemeView.CnlData" nillable="true" type="tns:SchemeView.CnlData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSchemeView.CnlData" nillable="true" type="tns:ArrayOfSchemeView.CnlData" />
  <xs:complexType name="SchemeView.CnlData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Stat" type="xs:int" />
      <xs:element minOccurs="0" name="Val" type="xs:double" />
      <xs:element minOccurs="0" name="ValStr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValStrWithUnit" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SchemeView.CnlData" nillable="true" type="tns:SchemeView.CnlData" />
  <xs:complexType name="SchemeView.SchemeChange">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangeType" type="tns:SchemeView.ChangeType" />
      <xs:element minOccurs="0" name="ElementData" nillable="true" type="tns:SchemeView.ElementData" />
      <xs:element minOccurs="0" name="ElementID" type="xs:int" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="tns:SchemeView.Image" />
      <xs:element minOccurs="0" name="ImageNewName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImageOldName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SchemeParams" nillable="true" type="tns:SchemeView.Scheme" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SchemeView.SchemeChange" nillable="true" type="tns:SchemeView.SchemeChange" />
  <xs:simpleType name="SchemeView.ChangeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unchanged" />
      <xs:enumeration value="SchemeChanged" />
      <xs:enumeration value="ElementAdded" />
      <xs:enumeration value="ElementChanged" />
      <xs:enumeration value="ElementDeleted" />
      <xs:enumeration value="ImageAdded" />
      <xs:enumeration value="ImageRenamed" />
      <xs:enumeration value="ImageDeleted" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SchemeView.ChangeType" nillable="true" type="tns:SchemeView.ChangeType" />
</xs:schema>