ScadaScheme/ScadaScheme/Service References/ScadaSchemeSvc/ScadaSchemeSvc3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59434/scheme/ScadaSchemeSvc.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Scada.Scheme" />
  <xs:import schemaLocation="http://localhost:59434/scheme/ScadaSchemeSvc.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:59434/scheme/ScadaSchemeSvc.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
  <xs:element name="GetSettings">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Scada.Scheme" minOccurs="0" name="GetSettingsResult" nillable="true" type="q1:SchemeSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadScheme">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="viewSetIndex" type="xs:int" />
        <xs:element minOccurs="0" name="viewIndex" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadSchemeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoadSchemeResult" type="xs:boolean" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Scada.Scheme" minOccurs="0" name="schemeData" nillable="true" type="q2:SchemeView.SchemeData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadCnlData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientID" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="cnlList" nillable="true" type="q3:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadCnlDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoadCnlDataResult" type="xs:boolean" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Scada.Scheme" minOccurs="0" name="cnlDataList" nillable="true" type="q4:ArrayOfSchemeView.CnlData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientID" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/System.Drawing" minOccurs="0" name="cursorPosition" type="q5:Point" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetChangeResult" type="xs:boolean" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Scada.Scheme" minOccurs="0" name="schemeChange" nillable="true" type="q6:SchemeView.SchemeChange" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearChange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearChangeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectElement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="elementID" type="xs:int" />
        <xs:element minOccurs="0" name="clickX" type="xs:int" />
        <xs:element minOccurs="0" name="clickY" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectElementResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteException">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteExceptionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>