ScadaAgent/ScadaAgentConnector/Connected Services/AgentSvcRef/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:10002/ScadaAgent/ScadaAgentSvc/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Scada.Agent" />
  <xs:import schemaLocation="http://localhost:10002/ScadaAgent/ScadaAgentSvc/?xsd=xsd3" namespace="http://schemas.microsoft.com/Message" />
  <xs:import schemaLocation="http://localhost:10002/ScadaAgent/ScadaAgentSvc/?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="CreateSession">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateSessionResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="sessionID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" type="xs:long" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="encryptedPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="scadaInstanceName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="errMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsLoggedOn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsLoggedOnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsLoggedOnResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ControlService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" type="xs:long" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Scada.Agent" minOccurs="0" name="serviceApp" type="q1:ServiceApp" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Scada.Agent" minOccurs="0" name="command" type="q2:ServiceCommand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ControlServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ControlServiceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" type="xs:long" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Scada.Agent" minOccurs="0" name="serviceApp" type="q3:ServiceApp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetServiceStatusResult" type="xs:boolean" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Scada.Agent" minOccurs="0" name="status" type="q4:ServiceStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAvailableConfigResult" type="xs:boolean" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Scada.Agent" minOccurs="0" name="configParts" type="q5:ConfigParts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" type="xs:long" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Scada.Agent" minOccurs="0" name="configOptions" nillable="true" type="q6:ConfigOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/Message" name="DownloadConfigResult" type="q7:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfigUploadMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/Message" name="Stream" type="q8:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Scada.Agent" name="ConfigOptions" nillable="true" type="q9:ConfigOptions" />
  <xs:element name="SessionID" type="xs:long" />
  <xs:element name="PackConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" type="xs:long" />
        <xs:element minOccurs="0" name="destFileName" nillable="true" type="xs:string" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Scada.Agent" minOccurs="0" name="configOptions" nillable="true" type="q10:ConfigOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PackConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PackConfigResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnpackConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" type="xs:long" />
        <xs:element minOccurs="0" name="srcFileName" nillable="true" type="xs:string" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Scada.Agent" minOccurs="0" name="configOptions" nillable="true" type="q11:ConfigOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnpackConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UnpackConfigResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Browse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" type="xs:long" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Scada.Agent" minOccurs="0" name="relPath" nillable="true" type="q12:RelPath" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BrowseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BrowseResult" type="xs:boolean" />
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="directories" nillable="true" type="q13:ArrayOfstring" />
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="files" nillable="true" type="q14:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileAgeUtc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" type="xs:long" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Scada.Agent" minOccurs="0" name="relPath" nillable="true" type="q15:RelPath" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileAgeUtcResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFileAgeUtcResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" type="xs:long" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Scada.Agent" minOccurs="0" name="relPath" nillable="true" type="q16:RelPath" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.microsoft.com/Message" name="DownloadFileResult" type="q17:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadFileRest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionID" type="xs:long" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Scada.Agent" minOccurs="0" name="relPath" nillable="true" type="q18:RelPath" />
        <xs:element minOccurs="0" name="offsetFromEnd" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadFileRestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.microsoft.com/Message" name="DownloadFileRestResult" type="q19:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>