ScadaAgent/ScadaAgentCtrl/Connected Services/ServiceReference1/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Scada.Agent" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Scada.Agent" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:10002/ScadaAgent/ScadaAgentSvc/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="ScadaApps">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="None">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Server">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Communicator">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Webstation">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="ScadaApps" nillable="true" type="tns:ScadaApps" />
  <xs:simpleType name="ServiceCommand">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Start" />
      <xs:enumeration value="Stop" />
      <xs:enumeration value="Restart" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ServiceCommand" nillable="true" type="tns:ServiceCommand" />
  <xs:complexType name="ConfigOptions">
    <xs:sequence>
      <xs:element minOccurs="0" name="AppFolder" type="tns:AppFolder" />
      <xs:element minOccurs="0" name="ScadaApp" type="tns:ScadaApps" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConfigOptions" nillable="true" type="tns:ConfigOptions" />
  <xs:simpleType name="AppFolder">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Undef" />
      <xs:enumeration value="Config" />
      <xs:enumeration value="Log" />
      <xs:enumeration value="Storage" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AppFolder" nillable="true" type="tns:AppFolder" />
  <xs:complexType name="AppPath">
    <xs:sequence>
      <xs:element minOccurs="0" name="AppFolder" type="tns:AppFolder" />
      <xs:element minOccurs="0" name="Path" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ScadaApp" type="tns:ScadaApps" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AppPath" nillable="true" type="tns:AppPath" />
</xs:schema>